.header{
    padding: 10px 30px 10px 60px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.1);
    align-items: center !important;
    font-size: 15px;
    background: var(--headerbgColor);
   
}

#moon{
    width:9%;
    padding-right: 5px;
}
.main{
    align-items: center;
    padding: 50px 10px 10px 60px;
    width: 100%;
}
.searchbar {
	margin-bottom: 4rem;
}
.a {
    font-weight: bold;
    padding-left: 10%;
   
}
h5 {
    padding-left: 10%;
    padding-bottom: 5px;
    padding-top: 30px;
    font-weight: bold !important;
}
.card {
	
	background: var(--imageitembgColor)!important;
}

.inputbox{
    background-image: url('img/search-outline.svg')!important;
    background-size: 20px 30px!important;
    background-repeat: no-repeat!important;
    background-position: center left !important;
    background-position-x: 5%!important;
    width:40%;
    height:60px;
    padding:  8px 30px 8px 60px;
    align-items: center;
    background-position: 5% 50%; 
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin-left: 49px;
    border-radius: 7px;
    background: var(--InputboxbgColor);
    color: var(--fontcolor);
    
}
.dropdownAll{
    width: 200px;
    position: relative;
}
.dropdown p{
    letter-spacing: 0.5px;
}
.drop{
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding:  16px 14px 10px 20px !important;
    width: 90%;
    border-radius: 5px;
    top:5rem;
    font-family: 'Nunito Sans', sans-serif !important;
    cursor: pointer;
}
.show{
    display: none;
}
i{
    cursor:pointer ;
}
.drop p{
    margin: 5px 0;
}
.dropdown{
    width: 100%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content:space-between;
    cursor: pointer;
    padding:  16px 14px 10px 20px !important;
    font-family: 'Nunito Sans', sans-serif !important;
    

}
h3{
    margin-left: 38px;
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: bold !important;
}

.countries{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding: 20px;
    margin-top: 20px !important;
    margin-right:110px !important;

}

.card{
    min-height: 250px !important;
    border: none;
    box-shadow:  0 4px 8px 0 rgba(28, 23, 23, 0.1);
    border-radius: 7px;
    width: 290px !important;
    overflow: hidden !important; 
    background: var(--imageitembgColor);
    margin: 40px !important;
}
.card img{
    height: 220px;
    width: 100%;
    object-fit: cover;
    overflow: hidden; 
}
.darkmode{
    background-color: white;
    align-items: center;
    border: none;
    background: var(--darkmodebgColor);
    color: var(--fontcolor);
}
.dark-mode {
    background-color: #202c37;
    color: white;
    --imageitembgColor: #2b3945;
    --InputboxbgColor: #2b3945;
    --headerbgColor: #2b3945;
    --backbuttonbgColor: #2b3945;
    --ccbgColor: #2b3945;
    --selectgColor: #2b3945;
  
}

.dark-btn {
    background: none;
    border: none;
    color: var(--fontcolor);
}

@media (max-width: 376px) 
{ 
    .header{
        font-size: 10px !important;
        align-items: center;
      
    }
    h3{
        font-size: 12px!important;
        margin-left:-50px ;
    }
 
    .countries{
    margin-left:-75px !important ;
    }
.dark-btn{
margin-right: -40px;
}
.inputbox{
    width: 100%;
    margin-left: -20px;
    height:50px;
}
.shahd{
    margin-top: 30px !important;
    width: 60% !important;
    margin-left: -20px;
}
}