.header{
    background: var(--headerbgColor);
}
.body{
    font-family: 'Nunito Sans', sans-serif ;
    background-color: #fafafa;
}

#moon{
    width:19px;
    height: 19px;
}
.card {	
	background: var(--imageitembgColor)!important;
}

.inputbox{
    background: var(--InputboxbgColor);
    background-image: url('img/search-outline.svg');
    background-size: 20px 30px;
    background-repeat: no-repeat;
    background-position:20px center;
    border-radius: 7px;
    color: var(--fontcolor);
    padding-left:60px ;
}

.drop{
    position: absolute;
    border-radius: 5px;
     z-index: 1;
    color: var(--fontcolor);
    background: var(--dropbgColor);
}
.show{
    display: none;
}

.dropdown{
 cursor: pointer;
 border-radius: 5px;
}
h3{
    margin-left: 38px;
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: bold !important;
}

.card{
    border-radius: 8px;
    overflow: hidden !important; 
    background: var(--imageitembgColor);
     width: 90%;
    object-fit: cover;
}
.card img{
    height: 180px;
    width: 100%;
    object-fit: cover;
   
}
.darkmode{
    background-color: white;
    align-items: center;
    border: none;
    background: var(--darkmodebgColor);
    color: var(--fontcolor);
}
.dark-mode {
    background-color: #202c37;
    color: white;
    --imageitembgColor: #2b3945;
    --InputboxbgColor: #2b3945;
    --headerbgColor: #2b3945;
    --backbuttonbgColor: #2b3945;
    --ccbgColor: #2b3945;
    --selectgColor: #2b3945;
    --dropbgColor: #2b3945;
}

.countrydetails{
    visibility: hidden;
    
}

.detailspic img{
 width: 100%;
}

.dark-btn {
    background: none;
    border: none;
    color: var(--fontcolor);
}

#aaaa{
  visibility: hidden;
}

@media (max-width: 376px) 
{

.dark-btn{
margin-right: -40px;
}


}